# Local Config
/include/config/global.inc.php
/include/config/security.inc.php

# Templates
/templates/compile/*.php
/templates/compile/**
/templates/cache/*.php
/templates/cache/**

# Logs
/cronjobs/logs
/cronjobs/logs/**.txt.*.gz
/logs/*

# Test configs
/include/config/global.inc.test.php
/include/config/global.inc.scrypt.php
/include/config/global.inc.sha.php

# Test files
/scripts/test.php
/cronjobs/test.php

# IDE Settings
/.idea/*
.buildpath
.project
.settings

# Site specific Files
/public/robots.txt
/public/sitemap.xml
/public/sitemap.gz
/public/sitemap.tar.gz
/public/.htaccess

/vendor/

tests/_output/*

# NetBeans Project Directory
/nbproject/*

# No need for composer.lock
/composer.lock