<phpunit bootstrap="bootstrap.php">
<testsuites>
    <testsuite name="SampleTest">
      <directory>unit/config</directory>
    </testsuite>
    <testsuite name="Security_CSRFToken">
      <directory>unit/securityregress/Security_CSRFToken.php</directory>
    </testsuite>
    <testsuite name="Security_Sessions">
      <directory>unit/securityregress/Security_Sessions.php</directory>
    </testsuite>
    <testsuite name="Security_Tokens">
      <directory>unit/securityregress/Security_Tokens.php</directory>
    </testsuite>
  </testsuites>
</phpunit>