
.icon-dollar:before { content: '\e82b'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-exchange:before { content: '\e804'; } /* '' */
.icon-money:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-torso:before { content: '\e809'; } /* '' */
.icon-photo:before { content: '\e80a'; } /* '' */
.icon-th-large:before { content: '\e80b'; } /* '' */
.icon-ok:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-cancel-circled:before { content: '\e80e'; } /* '' */
.icon-plus:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e810'; } /* '' */
.icon-pencil:before { content: '\e811'; } /* '' */
.icon-bell:before { content: '\e812'; } /* '' */
.icon-trash:before { content: '\e813'; } /* '' */
.icon-cog:before { content: '\e814'; } /* '' */
.icon-search:before { content: '\e82c'; } /* '' */
.icon-doc:before { content: '\e815'; } /* '' */
.icon-users-1:before { content: '\e816'; } /* '' */
.icon-left-open:before { content: '\e817'; } /* '' */
.icon-login:before { content: '\e803'; } /* '' */
.icon-up-open:before { content: '\e819'; } /* '' */
.icon-record:before { content: '\e81a'; } /* '' */
.icon-backward:before { content: '\e81b'; } /* '' */
.icon-fast-backward:before { content: '\e81c'; } /* '' */
.icon-fast-forward:before { content: '\e81d'; } /* '' */
.icon-forward:before { content: '\e81e'; } /* '' */
.icon-desktop:before { content: '\e81f'; } /* '' */
.icon-align-left:before { content: '\e820'; } /* '' */
.icon-indent-left:before { content: '\e821'; } /* '' */
.icon-off:before { content: '\e822'; } /* '' */
.icon-barcode:before { content: '\e823'; } /* '' */
.icon-chart:before { content: '\e824'; } /* '' */
.icon-megaphone:before { content: '\e825'; } /* '' */
.icon-gauge:before { content: '\e826'; } /* '' */
.icon-wrench:before { content: '\e827'; } /* '' */
.icon-edit-1:before { content: '\e82d'; } /* '' */
.icon-resize-full-alt:before { content: '\e828'; } /* '' */
.icon-down-open:before { content: '\e82a'; } /* '' */
.icon-edit:before { content: '\e800'; } /* '' */
.icon-block:before { content: '\e829'; } /* '' */
.icon-award:before { content: '\e807'; } /* '' */
.icon-right-open:before { content: '\e818'; } /* '' */