
a:active,a:link,a:visited{
  color:#000;
}
a:hover{
  color:#000;
}

/*-----End of Defaults------*/

a.menu:active,a.menu:link,a.menu:visited{
  color:#FFF;
  font-weight:bold;
  font-size:.975em;
  text-align:center;
  text-decoration: none;
}

a.menu:hover{
  color:#aaa;
  font-weight:bold;
  font-size:.975em;
  text-align:center;
  text-decoration: none;
}

#siteinfo {
  font-family: Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin:5px;
  margin-top:5px;
  width:auto;
  float:left;
}

.slogan {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #aA9A9A;
  margin-left:12px;
  margin-top:12px;
}

#ministats {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #000;
  position:absolute;

  right:5px;
  top:22px;
  float:right;
}

#ministats li {
  font-size: 11px;
  font-weight: bold;
  color: #000;
}

#loginForm{
  position:relative;
  top:.5em;
  left:.5em;
}

#lostPassForm{
  position:relative;
  top:0;
  left: .5em;
}

#userInfo{
  float: left;
  background-color:#DDD;	
  width:15em;
  height: 100%;
  padding:.5em;
}

/*-----Text-----*/
span.goodMessage{
  position:relative;
  color:green;
  font-weight:bold;
  font-size:1em;
  top:-5px;
}

span.returnMessage{
  position:relative;
  color:orange;
  font-weight:bold;
  font-size:1em;
  top:-15px;
}

#content {
  height:auto;
  border-style: solid solid solid solid;
  border-width:1px 1px 1px 1px;
  border-color:BBC3D3;
  white-space: normal;
  padding: 1em;
  margin-top:5px;
  margin-left: 18.2em;	
  background-color: #FFF;
}

#stats_section {
  border-style: solid solid solid solid;
  border-width:1px 1px 1px 1px;
  border-color:BBC3D3;
  margin-bottom:10px;
  background-color:#F8F8F9;
  width: auto;
  font-size:.9em;	

  height:auto;
  padding:.5em;
  padding-bottom:1.25em;

}

#generic_infobox {
  border-style: solid solid solid solid;
  border-width:1px 1px 1px 1px;
  border-color:BBC3D3;
  margin-bottom:5px;
  background-color:#F8F8F9;
  font-size:.9em;	
  width:98%;

  height:auto;
  padding:.5em;
  padding-bottom:1.25em;
}

#search_infobox {
  background-color:#F8F8F9;
  line-height:10px;
  overflow:none;	
  display: none;
}

.search_results {
  display: inherit;
}

.tooltip {
  display:none;
  background:transparent url(site_assets/mmcFE/images/black_arrow.png);
  font-size:11px;
  height:70px;
  width:160px;
  padding:25px;
  color:#fff;	
}
