/*plugin styles*/
.block .visualize { border: 1px solid #bbb; position: relative; background: #fbfbfb; margin: 20px auto 40px auto; z-index: 1; }
.block .visualize canvas { position: absolute; }
.block .visualize ul, .block .visualize ul li { margin: 0; padding: 0; background: none; }
.block .visualize-bar { border-top: 0; }

/*table title, key elements*/
.block .visualize .visualize-info { padding: 0 0 2px 8px; background: #fafafa; border: 1px solid #aaa; position: absolute; top: -15px; right: 10px; font-size: 11px; }
.block .visualize .visualize-title { display: block; color: #333; margin-bottom: 3px; }
.block .visualize ul.visualize-key { list-style: none; }
.block .visualize ul.visualize-key li { list-style: none; float: left; margin-right: 10px; padding-left: 10px; position: relative;}
.block .visualize ul.visualize-key .visualize-key-color { width: 6px; height: 6px; left: 0; position: absolute; top: 50%; margin-top: -3px; font-size: 6px; }
.block .visualize ul.visualize-key .visualize-key-label { color: #333; }

/*pie labels*/
.visualize-pie .visualize-labels { list-style: none; }
.visualize-pie .visualize-label-pos, .visualize-pie .visualize-label { position: absolute;  margin: 0; padding:0; }
.visualize-pie .visualize-label { display: block; color: #fff; font-weight: bold; font-size: 1em; }
.visualize-pie-outside .visualize-label { color: #000; font-weight: normal; }

/*line,bar, area labels*/
.block .visualize-labels-x,.visualize-labels-y { position: absolute; left: 0; top: 0; list-style: none; }
.block .visualize-labels-x li, .visualize-labels-y li { position: absolute; bottom: 0; }
.block .visualize-labels-x li span.label, .visualize-labels-y li span.label { position: absolute; color: #555; }
.block .visualize-labels-x li span.line, .visualize-labels-y li span.line {  position: absolute; border: 0 solid #ccc; }
.block .visualize-labels-x li { height: 100%; font-size: 10px; }
.block .visualize-labels-x li span.label { top: 100%; margin-top: 15px; left:-10; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); }
.block .visualize-labels-x li span.line { border-left-width: 1px; height: 100%; display: block; }
.block .visualize-labels-x li span.line { border: 0;} /*hide vertical lines on area, line, bar*/
.block .visualize-labels-y li { width: 100%; font-size: 11px; line-height: normal; }
.block .visualize-labels-y li span.label { right: 100%; margin-right: 5px; display: block; width: 100px; text-align: right; }
.block .visualize-labels-y li span.line { border-top-width: 1px; width: 100%; }
.block .visualize-bar .visualize-labels-x li span.label { width: 100%; text-align: center; }

/*tooltips*/
.block .visualize .chart_tooltip {
	padding: 6px 7px;
	background: #000;
	background: url(../images/mbg.png) 0 0 repeat;
	margin: 3px 4px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #ddd;
	font-size: 10px;
	line-height: normal;
	}
