
.icon-wrench:before { content: '\e80c'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e813'; } /* '' */
.icon-th-large:before { content: '\e817'; } /* '' */
.icon-desktop:before { content: '\e802'; } /* '' */
.icon-cancel-circled:before { content: '\e811'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-plus-circled:before { content: '\e80e'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-photo:before { content: '\e816'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-minus-circled:before { content: '\e810'; } /* '' */
.icon-minus:before { content: '\e80f'; } /* '' */
.icon-indent-left:before { content: '\e804'; } /* '' */
.icon-gauge:before { content: '\e800'; } /* '' */
.icon-block:before { content: '\e809'; } /* '' */
.icon-heart:before { content: '\e814'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-left-open:before { content: '\e80b'; } /* '' */
.icon-barcode:before { content: '\e805'; } /* '' */
.icon-align-left:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e818'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-chart:before { content: '\e812'; } /* '' */
.icon-comment:before { content: '\e815'; } /* '' */