@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?83289534');
  src: url('../font/fontello.eot?83289534#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?83289534') format('woff'),
       url('../font/fontello.ttf?83289534') format('truetype'),
       url('../font/fontello.svg?83289534#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?83289534#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-wrench:before { content: '\e80c'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e813'; } /* '' */
.icon-th-large:before { content: '\e817'; } /* '' */
.icon-desktop:before { content: '\e802'; } /* '' */
.icon-cancel-circled:before { content: '\e811'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-plus-circled:before { content: '\e80e'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-photo:before { content: '\e816'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-minus-circled:before { content: '\e810'; } /* '' */
.icon-minus:before { content: '\e80f'; } /* '' */
.icon-indent-left:before { content: '\e804'; } /* '' */
.icon-gauge:before { content: '\e800'; } /* '' */
.icon-block:before { content: '\e809'; } /* '' */
.icon-heart:before { content: '\e814'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-left-open:before { content: '\e80b'; } /* '' */
.icon-barcode:before { content: '\e805'; } /* '' */
.icon-align-left:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e818'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-chart:before { content: '\e812'; } /* '' */
.icon-comment:before { content: '\e815'; } /* '' */